.wrapper
  .sideleft-all
    .headerleft
      .headerleft__box
        %p.headerleft__box__user-name
          /ユーザー名
          = current_user.name
        %ul.header__box__menu 
          %li.headerleft__box__menu__new
          = link_to new_group_path do
            = icon('fa','edit', class: 'icon')
            %span<>
          %li.headerleft__box__menu__edit
          = link_to edit_user_path(current_user) do
            = icon('fa','cog', class: 'icon')
            %span<>
    
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはありません
    